@charset "UTF-8";

*{margin: 0px; padding: 0px;}

body{
    background-color: #2408ff ;
}
header > h1, a{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #4027ff;
    text-align: center;

    padding-top: 50px;
    padding-bottom: 60px;
}

header > h1 > a{
    text-decoration: none;
    color: white;
}
